/*********************************************************************
    BOX 1 CSS START
*********************************************************************/
/* 첫 번째 박스 */
div.box:nth-child(1) {
    overflow: hidden;
}
/* 최상단 Title */
div.box:nth-child(1) #title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;    
    padding-top: 1%;
    position: absolute;
    width: 55%;
    z-index: 2;
    animation-name: fadeInHeader;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadeInHeader {
    0% { opacity:0; right: 0%;}
    100% { opacity:1; right : 40%} 
}
div.box:nth-child(1) #title p#name {
    border-bottom: 1px solid white;
}
div.box:nth-child(1) #title p a,
div.box:nth-child(1) #title p a:visited,
div.box:nth-child(1) #title p a:link,
div.box:nth-child(1) #title p a:active {
    text-decoration:none; 
    color : white;
}
div.box:nth-child(1) #title p {position: relative;}
div.box:nth-child(1) #title p.subTitle {
    display: flex;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    padding-top: 1px;
}

/* 중간 메인 텍스트 */
div.box:nth-child(1) section#section1 span.emphasis {color : rgb(219, 219, 34);}
div.box:nth-child(1) section#section1 {
    position: absolute;
    z-index: 2;
    right:10%;
    animation-name: fadeInMainText;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadeInMainText {
    0% { opacity: 0; top:30%;}
    100% { opacity: 1; top:20%;}
}
div.box:nth-child(1) section#section1 h3 {
    /*padding-top: 10%;   */
    font-weight: 500;
}

div.box:nth-child(1) #section1 span.circle {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
    top: 50%;
    right: 50%;
    width: 70px;
    height : 70px;
}
div.box:nth-child(1) span.c1 { 
    background-color: teal;
    animation: movingC1 6s ease 1s infinite;
}
div.box:nth-child(1) span.c2 {
    background-color: midnightblue;
    animation: movingC1 6s ease 2s infinite;
}
div.box:nth-child(1) span.c3 {
    background-color: black;
    animation: movingC1 6s ease 3s infinite;
}
div.box:nth-child(1) span.c4 {
    background-color: midnightblue;
    animation: movingC1 6s ease 4s infinite;
}
div.box:nth-child(1) span.c5 {
    background-color: black;
    animation: movingC1 6s ease 5s infinite;
}

@keyframes movingC1 {
    0% {top:50%}
    25% {top:-15%; right:25%;}
    50% {top:40%; right: 0%;}
    75% {top:80%; right: 25%;}
    100% {top:50%; right:50%;}
}

/* 중간 section 2 */
div.box:nth-child(1) section#section2 {
    left : 5%;
    top : 55%;
    position: absolute;
    text-align: justify;
    
    animation :fadeInMainText2 0.7s ease;
    
    font-size: small;
    
    font-weight: 100;
    
    width: 70%;
    z-index: 2;
    color : rgba(245, 245, 245, 0.8)
}
@keyframes fadeInMainText2 {
    0% { opacity : 0; top : 65%}
    100% { opacity : 1; top : 55%}
}



/* 바닥(꼬리말) 라인 - sns icon */
div.box:nth-child(1) .bottomLine {
    background-color: white;
    z-index: 2;
    display: flex;

    align-items: center;        /* 가운데 정렬 (방향 : 상하) */
    justify-content: flex-end;  /* 오른쪽으로 부착 (방향 : 좌우) */

    width: 100%;   /* 너비 */
    height : 8%;  /* 높이 */
    
    position:absolute;

    bottom : 7%;
    
    animation-name: fadeInbottomLine;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes fadeInbottomLine {
    0% { opacity:0; left:-100%;}
    100% { opacity:0.9; left:0%;} 
}
div.box:nth-child(1) .bottomLine a {
    margin-top: 20%;
    margin-bottom: 20%;
    height: 60%;
    
    margin-right: 1%;
    display: flex;
    
    align-items: center; /* 상하 */

}

div.box:nth-child(1) .bottomLine a img,
div.box:nth-child(1) .bottomLine a svg { 
    position: relative;
    height: 80%;
    
    animation-name: fadeInLogo;
    animation-duration: 0.7s;
    
    opacity: 0.5;
    transition: opacity 0.3s;
}
@keyframes fadeInLogo {
    0% { opacity:0; }
    100% { opacity:0.5; } 
}
div.box:nth-child(1) .bottomLine a svg:hover,
div.box:nth-child(1) .bottomLine a img:hover {
    opacity: 1;
}

/* box1DecorationCircle */
#box1DecorationCircle {
    position: absolute;
    left: -300px;
    bottom: -400px;
    display: inline-block;
    background-color: #211e36;
    opacity: 0.7;
    
    width: 700px;
    height: 700px;
    
    z-index: 1;
    border-radius: 50%;
}

/* backgroundImg */
#backgroundImg {
    position: absolute;
    opacity: 0;
    top:25%;
    right: 1%;
    width: 40%;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/*********************************************************************
    BOX 1 CSS END
*********************************************************************/



/*********************************************************************
    BOX 2 CSS START
*********************************************************************/
/* 두 번째 박스 */
/* header */
div.box:nth-child(2) > header#box2header {
    padding:0;
    margin:0;
    position: absolute;
    height: 12%;
    width: 100%;
    
    animation-name: fadeIn;
    animation-duration: 0.5s;
    
}
div.box:nth-child(2) > header div#title {
    position: absolute;
    display: flex;   
    align-items: flex-end;
    height: 100%;
    width: 90%;
    margin-left: 10%;
}
div.box:nth-child(2) > header div#title > h3 {
    background-color: rgb(31, 31, 31);
    padding : 1% 2%;
}
div.box:nth-child(2) > header div#title > h5 {
    font-weight: 100;
    display: flexbox;
    padding-left: 20%;
    width: 86%;
}
div.box:nth-child(2) > header div#title > h5 > span {color:yellow;}

/* 중앙 */
section#box2Section1 {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    top : 12%;
    width: 100%;
    height: 77%;

    animation: fadeIn 0.5s;
}
section#box2Section1 article {
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
}
section#box2Section1 .box2colrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* colrow background 이미지  */
#box2Section1 article:nth-child(1) .box2colrow:hover,
#box2Section1 article:nth-child(2) .box2colrow:hover,
#box2Section1 article:nth-child(3) .box2colrow:hover,
#box2Section1 article:nth-child(4) .box2colrow:hover {
    filter:brightness(150%); 
}
#box2Section1 article:nth-child(1) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/programming.jpg");
    background-size: cover;
    transition: all ease 0.3s;
}
#box2Section1 article:nth-child(2) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/bloger.jpg");
    background-size: cover;
    transition: all ease 0.3s;
}
#box2Section1 article:nth-child(3) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/keyboard.jpg");
    background-size: cover;
    transition: all ease 0.3s;
}
#box2Section1 article:nth-child(4) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/jiujitsu.jpg");
    background-size: cover;
    transition: all ease 0.3s;
}

/* hidden 박스 */
div#box2hiddenDivParent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2s;
    background-color: black;
    opacity: 0.6;
    visibility: hidden;
    
}
@keyframes visibilityOn {
    0%{opacity: 0; visibility:visible;}
    100%{opacity: 0.6; visibility:visible;}
}
@keyframes visibilityOff {
    0%{opacity: 0.6;visibility:visible; }
    100%{opacity: 0; visibility: hidden;}
}

/* X 버튼 */
#closeButtonForBox2hiddenDivParent {
    display: flex;
    padding-top: 3%;
    z-index: 3s;
    justify-content: center;
}
#closeButtonForBox2hiddenDivParent a {
    text-align: center;
    display: flex;
    
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border:1px solid white;
    background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160));
    width: 26px;
    height :26px;
    filter: brightness(150%);
}

#box2hiddenDivParent .hiddenDiv {
    visibility: hidden;
}
/*
section#box2Section1 div#box2bar {
    margin-left: 9%;
    width: 1%;
    background-color:  #302C4D;
    height: 100%;
}
*/

/*********************************************************************
    BOX 2 CSS START
*********************************************************************/