/*********************************************************************
    BOX 1 CSS START
*********************************************************************/
/* 첫 번째 박스 */
div.box:nth-child(1) {
    overflow: hidden;
}
/* 최상단 Title */
div.box:nth-child(1) #title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;    
    
    position: absolute;
    width: 55%;
    z-index: 2;
    border-top: 1px solid white;
    margin-top: 30px;

    animation-name: fadeInHeader;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadeInHeader {
    0% { opacity:0; right: 0%;}
    100% { opacity:1; right : 40%} 
}
div.box:nth-child(1) #title p#name {
    border-bottom: 1px solid white;
}
div.box:nth-child(1) #title p a,
div.box:nth-child(1) #title p a:visited,
div.box:nth-child(1) #title p a:link,
div.box:nth-child(1) #title p a:active {
    text-decoration:none; 
    color : white;
}
div.box:nth-child(1) #title p {position: relative;}
div.box:nth-child(1) #title p.subTitle {
    display: flex;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    padding-top: 1px;
}

/* 중간 메인 텍스트 */
div.box:nth-child(1) section#section1 span.emphasis {color : rgb(219, 219, 34);}
div.box:nth-child(1) section#section1 {
    position: absolute;
    z-index: 2;
    right:10%;
    top:20%;
    animation-name: fadeInMainText;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
@keyframes fadeInMainText {
    0% { opacity: 0; top:30%;}
    100% { opacity: 1; top:20%;}
}
div.box:nth-child(1) section#section1 h3 {
    /*padding-top: 10%;   */
    font-weight: 500;
}

div.box:nth-child(1) #section1 span.circle {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
    top: 50%;
    right: 50%;
    width: 70px;
    height : 70px;
}
div.box:nth-child(1) span.c1 { 
    background-color: teal;
    animation: movingC1 6s ease 1s infinite;
}
div.box:nth-child(1) span.c2 {
    background-color: midnightblue;
    animation: movingC1 6s ease 2s infinite;
}
div.box:nth-child(1) span.c3 {
    background-color: black;
    animation: movingC1 6s ease 3s infinite;
}
div.box:nth-child(1) span.c4 {
    background-color: midnightblue;
    animation: movingC1 6s ease 4s infinite;
}
div.box:nth-child(1) span.c5 {
    background-color: black;
    animation: movingC1 6s ease 5s infinite;
}

@keyframes movingC1 {
    0% {top:50%}
    25% {top:-15%; right:25%;}
    50% {top:40%; right: 0%;}
    75% {top:80%; right: 25%;}
    100% {top:50%; right:50%;}
}

/* 중간 section 2 */
div.box:nth-child(1) section#section2 {
    left : 5%;
    top : 70%;
    position: absolute;
    text-align: justify;
    
    font-size: small;
    font-weight: 300;
    
    width: 70%;
    z-index: 2;
    color : rgba(245, 245, 245, 0.8)
}
@keyframes fadeInMainText2 {
    0% { opacity : 0; top : 70%}
    100% { opacity : 1; top : 60%}
}

div.box:nth-child(1) section#section2 ul {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
div.box:nth-child(1) section#section2 ul li {
    position: absolute;
}
div.box:nth-child(1) section#section2 ul li.box1On {
    visibility: visible;
    animation: toLeftText 1s;
}
div.box:nth-child(1) section#section2 ul li.box1Off {
    animation: toLeftText2 1s forwards;
}
@keyframes toLeftText {
    0% {left: 100px; opacity: 0; }
    100% {left: 0; opacity: 1; }
}
@keyframes toLeftText2 {
    0% {left: 0; opacity: 1;}
    100% {left: -100px; opacity: 0; }
}

/* 꾸밈 decoration */
section#section1 span.light {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width : 4px;
    height: 100px;
    opacity: 0.5;
    z-index: 2;
    top:40%;
}
span.lt1 {
    background: linear-gradient(to top, rgb(14, 75, 75), rgb(236, 255, 255));
    
    right: 50px;
}
span.lt2 {
    background: linear-gradient(to top,rgb(15, 15, 59),rgb(182, 182, 255));
    
    left: 50px;
}
section#section1 span.lt3 {
    background: linear-gradient(to top, white,black);
    
    right: 50px;
}
section#section1 span.lt4 {
    background: linear-gradient(to top, midnightblue,white);
    
    right: 20px;
}
section#section1 span.lt5 {
    background: linear-gradient(to top,black, white);
    
    right: 20%;
}

/* 바닥(꼬리말) 라인 - sns icon */
div.box:nth-child(1) .bottomLine {
    background-color: white;
    z-index: 2;
    display: flex;

    align-items: center;        /* 가운데 정렬 (방향 : 상하) */
    justify-content: flex-end;  /* 오른쪽으로 부착 (방향 : 좌우) */

    width: 100%;   /* 너비 */
    height : 8%;  /* 높이 */
    
    position:absolute;

    bottom : 7%;
    
    animation-name: fadeInbottomLine;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInbottomLine {
    0% { opacity:0; left:-100%;}
    100% { opacity:0.9; left:0%;} 
}
div.box:nth-child(1) .bottomLine a {
    margin-top: 20%;
    margin-bottom: 20%;
    height: 60%;
    
    margin-right: 1%;
    display: flex;
    
    align-items: center; /* 상하 */

}

div.box:nth-child(1) .bottomLine a img,
div.box:nth-child(1) .bottomLine a svg { 
    position: relative;
    height: 80%;
    
    animation-name: fadeInLogo;
    animation-duration: 1s;
    
    opacity: 0.5;
    transition: opacity 0.3s;
}
@keyframes fadeInLogo {
    0% { opacity:0; }
    100% { opacity:0.5; } 
}
div.box:nth-child(1) .bottomLine a svg:hover,
div.box:nth-child(1) .bottomLine a img:hover {
    opacity: 1;
}

/* box1DecorationCircle */
#box1DecorationCircle {
    position: absolute;
    left: -300px;
    bottom: -400px;
    display: inline-block;
    background-color: #211e36;
    opacity: 0.7;
    
    width: 700px;
    height: 700px;
    
    z-index: 1;
    border-radius: 50%;
}


/*********************************************************************
    BOX 1 CSS END
*********************************************************************/



/*********************************************************************
    BOX 2 CSS START
*********************************************************************/
/* 두 번째 박스 */
/* header */
div.box:nth-child(2) > header#box2header {
    padding:0;
    margin:0;
    position: absolute;
    height: 12%;
    width: 100%;
    
    animation-name: fadeIn;
    animation-duration: 0.5s;
    
}
div.box:nth-child(2) > header div#title {
    position: absolute;
    display: flex;   
    align-items: flex-end;
    height: 100%;
    width: 90%;
    margin-left: 10%;
}
div.box:nth-child(2) > header div#title > h3 {
    background-color: rgb(31, 31, 31);
    padding : 1% 2%;
}
div.box:nth-child(2) > header div#title > h5 {
    font-weight: 100;
    display: flexbox;
    padding-left: 20%;
    width: 86%;
}
div.box:nth-child(2) > header div#title > h5 > span {color:yellow;}

/* 중앙 */
section#box2Section1 {
    
    margin: 0%;
    padding: 0%;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;

    animation: fadeIn 0.5s;
    transition : all ease 1s;
}
section#box2Section1 article {
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
}
section#box2Section1 article a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/*
section#box2Section1 .box2colrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/* colrow background 이미지  */
/*
#box2Section1 article:nth-child(1) .box2colrow:hover,
#box2Section1 article:nth-child(2) .box2colrow:hover,
#box2Section1 article:nth-child(3) .box2colrow:hover,
#box2Section1 article:nth-child(4) .box2colrow:hover {
    filter:brightness(150%); 
}

#box2Section1 article:nth-child(1) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/programming.jpg");
    background-size: cover;
}
#box2Section1 article:nth-child(2) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/bloger.jpg");
    background-size: cover;
}
#box2Section1 article:nth-child(3) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/keyboard.jpg");
    background-size: cover;
    
}
#box2Section1 article:nth-child(4) .box2colrow {    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3) ),url("../img/jiujitsu.jpg");
    background-size: cover;
}
*/
#box2Section1 article {
    overflow: hidden;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
#box2Section1 article:hover {
    filter:brightness(150%); 
}

#box2Section1 article:nth-child(1) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/programming.jpg");
}
#box2Section1 article:nth-child(2) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/bloger.jpg");
}
#box2Section1 article:nth-child(3) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/keyboard.jpg");
}
#box2Section1 article:nth-child(4) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/jiujitsu.jpg");
}

/* hidden 박스 */
div#box2hiddenDivParent {
    position: absolute;
    
    width: 100%;
    height: 100%;

    z-index: 2s;
    background-color: black;
    opacity: 0.6;

    visibility: hidden;
    
}
@keyframes visibilityOn {
    0%{opacity: 0; visibility:visible;}
    100%{opacity: 0.6; visibility:visible;}
}
@keyframes visibilityOff {
    0%{opacity: 0.6;visibility:visible; }
    100%{opacity: 0; visibility: hidden;}
}

/******** X 버튼 시작 **********/
/* X 버튼 */
#closeButtonForBox2hiddenDivParent {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 3%;
    z-index: 3;    
}
/* X 버튼 */ 
#closeButtonForBox2hiddenDivParent a {
    text-align: center;
    display: flex;
    
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border:1px solid white;
    background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160));
    width: 26px;
    height :26px;
    filter: brightness(150%);
}
/******** X 버튼 끝 **********/

/* hidden 데이터 처리 */
div.box2HiddenContents {
    position: absolute;
    
    background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160));
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;


    width: 86%;
    height: 80%;
    
    top:12%;
    left:7%;

    visibility: hidden;

    z-index: 4;
    color:white;
}
@keyframes visibilityOn2 {
    0%{opacity: 0; visibility:visible;}
    100%{opacity: 1; visibility:visible;}
}
@keyframes visibilityOff2 {
    0%{opacity: 1;visibility:visible; }
    100%{opacity: 0; visibility: hidden;}
}

div.box2HiddenContents div {
    width: 90%;
    margin: 1% 0;
    background: linear-gradient(to right, rgb(22, 22, 22),rgb(48, 51, 35));
}
div.box2HiddenContents div ul {list-style: none; padding-left: 3%;}
/*********************************************************************
    BOX 2 CSS END 
*********************************************************************/