/*********************************************************************
    BOX COMMON style Start
    Box들의 공통 style 적용 사항
*********************************************************************/
/* 모든 박스는 화면에서 넘치는 부분은 숨긴다. */
div.box { overflow: hidden; }
/*********************************************************************
    BOX COMMON style End
*********************************************************************/


/*********************************************************************
    BOX 1 CSS Start
*********************************************************************/
/* 최상단 Title */
div.box:nth-child(1) #title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;    
    
    position: absolute;
    width: 55%;
    z-index: 2;
    border-top: 1px solid white;
    margin-top: 30px;

    animation-name: fadeInHeader;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

div.box:nth-child(1) #title p#name {
    border-bottom: 1px solid white;
}
div.box:nth-child(1) #title p a,
div.box:nth-child(1) #title p a:visited,
div.box:nth-child(1) #title p a:link,
div.box:nth-child(1) #title p a:active {
    text-decoration:none; 
    color : white;
}
div.box:nth-child(1) #title p {position: relative;}
div.box:nth-child(1) #title p.subTitle {
    display: flex;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    padding-top: 1px;
}

/* 중간 메인 텍스트 */
div.box:nth-child(1) section#section1 span.emphasis {color : rgb(219, 219, 34);}
div.box:nth-child(1) section#section1 {
    position: absolute;
    z-index: 2;
    right:10%;
    top:20%;
    animation-name: fadeInMainText;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

div.box:nth-child(1) section#section1 h3 { font-weight: 500; }
div.box:nth-child(1) #section1 span.circle {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
    top: 50%;
    right: 50%;
    width: 70px;
    height : 70px;
}
div.box:nth-child(1) span.c1 { 
    background-color: teal;
    animation: movingC1 6s ease 1s infinite;
}
div.box:nth-child(1) span.c2 {
    background-color: midnightblue;
    animation: movingC1 6s ease 2s infinite;
}
div.box:nth-child(1) span.c3 {
    background-color: black;
    animation: movingC1 6s ease 3s infinite;
}
div.box:nth-child(1) span.c4 {
    background-color: midnightblue;
    animation: movingC1 6s ease 4s infinite;
}
div.box:nth-child(1) span.c5 {
    background-color: black;
    animation: movingC1 6s ease 5s infinite;
}
/* 중간 section 2 */
div.box:nth-child(1) section#section2 {
    left : 5%;
    top : 70%;
    position: absolute;
    text-align: justify;
    
    font-size: small;
    font-weight: 300;
    
    width: 70%;
    z-index: 2;
    color : rgba(245, 245, 245, 0.8)
}
div.box:nth-child(1) section#section2 ul {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
div.box:nth-child(1) section#section2 ul li {
    position: absolute;
}
div.box:nth-child(1) section#section2 ul li.box1On {
    visibility: visible;
    animation: toLeftText 1s;
}
div.box:nth-child(1) section#section2 ul li.box1Off {
    animation: toLeftText2 1s forwards;
}

/* 바닥(꼬리말) 라인 - sns icon */
div.box:nth-child(1) .bottomLine {
    background-color: white;
    z-index: 2;
    display: flex;

    align-items: center;        /* 가운데 정렬 (방향 : 상하) */
    justify-content: flex-end;  /* 오른쪽으로 부착 (방향 : 좌우) */

    width: 100%;   /* 너비 */
    height : 8%;  /* 높이 */
    
    position:absolute;

    bottom : 7%;
    
    animation-name: fadeInbottomLine;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* Home Page (Main)에서 bottom Line의 로고이미지 style */
div.box:nth-child(1) .bottomLine a img,
div.box:nth-child(1) .bottomLine a svg { 
    position: relative;
    height: 80%;
    opacity: 0.5;
    transition: opacity 0.3s;
}
div.box:nth-child(1) .bottomLine a svg:hover,
div.box:nth-child(1) .bottomLine a img:hover {
    opacity: 1;
}
div.box:nth-child(1) .bottomLine a {
    margin-top: 20%;
    margin-bottom: 20%;
    height: 60%;
    margin-right: 1%;
    display: flex;
    align-items: center; /* 상하 */
}
/* box1DecorationCircle 화면 꾸며주기 위한 큰 원 */
#box1DecorationCircle {
    position: absolute;
    left: -300px;
    bottom: -400px;
    display: inline-block;
    background-color: #211e36;
    opacity: 0.7;
    
    width: 700px;
    height: 700px;
    
    z-index: 1;
    border-radius: 50%;
}
/*********************************************************************
    BOX 1 CSS End
*********************************************************************/

/*********************************************************************
    BOX 2 CSS Start
*********************************************************************/
div.box:nth-child(2) {
    display: flex;
    flex-direction: column;
}
div.box:nth-child(2) > header {
    display: flex;
    justify-content: center;
}
div.box:nth-child(2) > header > div {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 40%;
    /*background: linear-gradient(to left, midnightblue,white);*/    
    /*padding: 1% 1% 5% 1%;
    background-color: white;*/
}
div.box:nth-child(2) > header > div > img {
    width: 100%;
}
div.box:nth-child(2) section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: left;
    padding-top: 10px;
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/moon.jpg");
    background-size: cover;
    
    padding-bottom: 5%;
    padding-left: 10%;
}
div.box:nth-child(2) section h3 {
    color:rgb(101, 201, 201);
}
div.box:nth-child(2) section > div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

/* box2 decoration : 행성처럼 비행하는 느낌의 원들에 대한 style */
div#box2 > footer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}
div#box2 > footer span {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0.6;
}
div#box2 > footer span:nth-child(1) {
    background: linear-gradient(to top,black, white);
    animation: planet1 25s linear infinite;
}
div#box2 > footer span:nth-child(2) {
    background: linear-gradient(to top,rgb(15, 15, 59),rgb(182, 182, 255));
    animation: planet1 17s linear infinite reverse;
}
div#box2 > footer span:nth-child(3) {
    background: linear-gradient(to top,rgb(184, 233, 71), rgb(71, 19, 131));
    animation: planet2 16s linear infinite;
}
div#box2 > footer span:nth-child(4) {
    background: linear-gradient(to top,rgb(33, 137, 223), rgb(136, 136, 136));
    animation: planet2 13s linear infinite reverse;
}
div#box2 > footer span:nth-child(5) {
    background: linear-gradient(to top,rgb(210, 12, 236), rgb(150, 33, 33));
    animation: planet2 23s linear infinite reverse;
}
div#box2 > footer span:nth-child(6) {
    background: linear-gradient(to top,rgb(210, 12, 236), rgb(150, 33, 33));
    animation: planet1 59s linear infinite reverse;
}
div#box2 > footer span:nth-child(7) {
    background: linear-gradient(to left,rgb(218, 172, 24), rgb(76, 170, 177));
    animation: planet1 37s linear infinite;
}
div#box2 > footer span:nth-child(8) {
    background: linear-gradient(to right,rgb(218, 172, 24), rgb(76, 170, 177));
    animation: planet2 37s linear infinite;
}
/*********************************************************************
    BOX 2 CSS End
*********************************************************************/

/*********************************************************************
    BOX 3 CSS Start
*********************************************************************/
/* 중앙의 전체를 맡고 있음 */
section#box3Section1 {
    margin: 0%;
    padding: 0%;
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

/* Study Page article 공통사항 적용 style */
section#box3Section1 article {
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#box3Section1 article a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* Study Page 어두운 이미지 배경과 hover 시 밝아지는 효과 */
#box3Section1 article:hover {
    filter:brightness(150%); 
}
#box3Section1 article:nth-child(1) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/programming.jpg");
}
#box3Section1 article:nth-child(2) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/bloger.jpg");
}
#box3Section1 article:nth-child(3) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/blog.png");
}
#box3Section1 article:nth-child(4) {    
    background-image: -webkit-linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5) ),url("../img/github.png");
}

/* hidden 박스를 위한 겉 테두리 영역 
   black box로 뒤 화면 못 누르게 하는 화면 */
div#box3hiddenDivParent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2s;
    background-color: black;
    opacity: 0.6;
    visibility: hidden;
}

/******** X 버튼 시작 **********/
#closeButtonForBox3hiddenDivParent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    z-index: 3;    
}
#closeButtonForBox3hiddenDivParent a {
    text-align: center;
    display: flex;
    
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border:1px solid white;
    background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160));
    width: 26px;
    height :26px;
    filter: brightness(150%);
}
/******** X 버튼 끝 **********/


/*hidden content COMMON style Start ***************/
div.box3HiddenContents > div.hiddenContentLayout > section { margin: 2%; }
div.box3HiddenContents > div.hiddenContentLayout > section iframe { width: 78vw; height: 70vh; }
div.box3HiddenContents > div.hiddenContentLayout > section a {color : red;}
/* hidden 영역의 보라색 박스 */
div.box3HiddenContents {
    position: absolute;
    border-radius: 2%;
    background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 86%;
    height: 80%;
    top:12%;
    left:7%;
    visibility: hidden;
    z-index: 4;
    color:black;
}
/* hidden 영역의 흰색 박스 : 실제 데이터가 입력되는 곳의 박스 */
div.box3HiddenContents div.hiddenContentLayout {
    width: 98%;
    height: 98%;
    border-radius: 2%;
    background-color: white;
    display: flex;
}
div#box3HiddenContent1 div.hiddenContentLayout section div {
    padding: 10px;
}
div#box3HiddenContent1 div.hiddenContentLayout section div h3 {
    color:teal;
}

div#box3HiddenContent4 > div.hiddenContentLayout > header { 
    width: 35%;
    text-align: center;
}
div#box3HiddenContent4 > div.hiddenContentLayout section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
/*
box3 에서 hidden 컨텐츠를 나타내는 영역입니다.
*/
div#box3HiddenContent4 > div.hiddenContentLayout section div a {
    color:rgb(217,0,0);
}
div#box3HiddenContent4 > div.hiddenContentLayout section div {
    color:rgb(8,22,78);
    font-size: small;
    margin-top: 10px;
    margin-bottom: 12px;
}
div#imageBorder {
    margin-top: 10%;
    display: inline-block;
    border-right: 3px solid rgb(8,22,78);
}
div#imageBorder img {
    position: relative;
    width: 100%;
}


/*hidden content 4 start ***************/
/** youtube 
div#box3HiddenContent4 a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 70px;
    height: 50px;
    
    text-align: center;
    vertical-align: middle;
    border-radius: 10%;
    color:white;
}
**/
/*hidden content 4 end ***************/

/*********************************************************************
    BOX 3 CSS END 
*********************************************************************/