/* 두 번째 박스 */
/* header */
div.box:nth-child(2) > header#box2header {
    position: absolute;
    height: 15%;
    width: 100%;
}
div.box:nth-child(2) > header div#title {
    position: absolute;
    display: flex;   
    align-items: flex-end;
    height: 100%;
    width: 90%;
    margin-left: 10%;
}
div.box:nth-child(2) > header div#title > h5 {
    font-weight: 100;
    display: flexbox;
    padding-left: 20%;
    width: 80%;
    
}
/* 중앙 */
section#box2Section1 {
    position: absolute;
    top : 15%;
    width: 100%;
    height: 70%;
    display: flex;
    background-color: white;
}
section#box2Section1 div#box2bar {
    margin-left: 9%;
    width: 1%;
    background-color:  #302C4D;
    height: 100%;
}
