/*********************************************************************
    COMMON CSS START
*********************************************************************/
/* 전체 분위기 컬러 #302C4D */
:root {
    --background-color : #302C4D
}
html,body{ margin:0; padding:0; width:100%; height:100%;}
body{overflow-x:hidden;} /*가로스크롤바 없애기*/
div, p, h2, h3, h4, h5, h6 {margin: 0; padding : 0;}

a,a:link,a:visited {text-decoration: none; color:white;}

#nameTag {
    z-index: 5;
    position: fixed;
    color:white;
    font-weight: 600;
    top:1%;
    left:5%;
}

.box {
    margin: 0; padding:0;
    width:100%;
    height:100%;
    position:relative;    
    /*font-size:24pt;*/
}

/* box1 : home */
.box:nth-child(1) { 
    background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160)) ;
    color : white;
}
/* box2 : about me */
.box:nth-child(2) {
    background-color: black;
    color : white;
}
#myProfileImage {
    border-radius: 5%;
}
.box:nth-child(3) ,
.box:nth-child(4) {
     background: linear-gradient( to right, var(--background-color), rgb(86, 30, 160)) ; 
}
/*********************************************************************
    COMMON CSS END
*********************************************************************/



/*********************************************************************
    NAV CSS START
*********************************************************************/
/*
    nav 기본 세팅 start
    Menu icon 
*/
div#fixedMenuIcon { 
    position: fixed; top : 1%; right : 1%;   
    z-index: 2; 
}
/* nav Space 기본 세팅 */
nav#navSpace {
    background-color: rgb(3, 6, 22);
    opacity: 0.9;
    z-index: 4;

    position : fixed;

    top:0%;
    right:0%;

    width: 0%;
    height: 100%;
}
nav.onNavSpace {animation: toLeftNavSpace 0.4s ease forwards;}
nav.closeNavSpace {animation: toRightNavSpace 0.8s ease ;}
/*
    nav 기본 세팅 end
    X icon start
*/
nav#navSpace > header {text-align: right;}
nav#navSpace > header > a > span {
    font-size: 30pt;
    margin-top: 1%;
    margin-right: 1%;
    transition: all ease 1s;
}
nav#navSpace > header > a > span:hover {
    transform: rotate( 180deg );
}
.closeNavSpaceChildren {
    animation: hideNavSpaceChildren .4s ease forwards;
}
.openNavSpaceChildren {
    animation: showNavSpaceChildren .9s ease;
}
/*    nav section     */
#navSection { 
    width: 100%;
    padding : 3%;
    position: absolute;
    background-color: black;
    color: whitesmoke;
}
#navSection ul {list-style: none; }
#navSection ul li {margin-top: 5%;}
#navSection ul li a {
    font-weight: bold ;
    font-size: larger;
    transition: color 0.5s ;
}
#navSection ul li a:hover { color : teal; }

/*===========================================================
    NAV CSS END
===========================================================*/



/*===========================================================
    데스크톱 화면에서의 세팅 Start
    데스크톱에 사용될 스타일 시트를 작성합니다.
===========================================================*/  
@media screen and (min-width: 769px) {
    /* nav */
    section#navSection {
        width: 50%;
        right: 0%;
    }

    /* box1 */
    div.box:nth-child(1) section#section1 {
        font-size: 150%;
    }

    div.box:nth-child(1) section#section2 {
        font-size: xx-large;
    }
    
    /* backgroundImg */
    .box:nth-child(1) aside #backgroundImg {
        
        right: 2%;
        width: 25%;
    }
    /* box2 */
    div#box2 {
        padding-top: 100px;
        flex-direction: row;  
    }
    
    /*div#box2 > header > div*/
    div.box:nth-child(2) > header > div {
        padding-top: 15%;
        padding-left: 15%;
    }
    div#box2 section {
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    div#box3 > section > div.box3col div img {
        width : 200px;
        height : 200px;
    }
}
/* 모바일에 사용될 스타일 시트를 작성합니다. */    
/*
@media screen and (max-width: 768px) {

}
*/
/*===========================================================
    데스크톱 화면 (모바일 스크린 외) 화면에서의 세팅 End 
===========================================================*/  




/*===========================================================
    Animation @Keyframes Start
===========================================================*/
/* 페이드 인으로 화면에 나타나기 */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* 우측 상단 3단 메뉴 아이콘 클릭시 nav 영역 애니메이션 */
@keyframes toLeftNavSpace {
    0% {width: 0%}
    100% { width: 70%}
}
@keyframes toRightNavSpace {
    0% {width : 70% }
    100% { width: 0%}
}
/* nav 영역의 Menu List 항목 보이기/숨기기 */
@keyframes hideNavSpaceChildren {
    0% {opacity: 1; }
    100% {opacity: 0; visibility: hidden;}
}
@keyframes showNavSpaceChildren {
    0% {opacity: 0; visibility: inherit; }
    100% {opacity: 1; }
}

/* 최상단 Title이 왼쪽으로 밀려들어오면서 페이드인 되는 애니메이션 */
@keyframes fadeInHeader {
    0% { opacity:0; right: 0%;}
    100% { opacity:1; right : 40%} 
}
/* Home Page의 동그라미의 무빙 애니메이션 */
@keyframes movingC1 {
    0% {top:50%}
    25% {top:-15%; right:25%;}
    50% {top:40%; right: 0%;}
    75% {top:80%; right: 25%;}
    100% {top:50%; right:50%;}
}

/* Home Page (Main) 에서 텍스트가 위로 올라오면서 페이드인 되는 애니메이션 */
@keyframes fadeInMainText {
    0% { opacity: 0; top:30%;}
    100% { opacity: 1; top:20%;}
}
/* Home Page (Main) 에서 텍스트가 위로 올라오면서 페이드인 되는 애니메이션 2 */
@keyframes fadeInMainText2 {
    0% { opacity : 0; top : 70%}
    100% { opacity : 1; top : 60%}
}
/* Home Page (Main) 에서 텍스트가 사라지고 나타나는 텍스트 영역의 애니메이션 */
@keyframes toLeftText {
    0% {left: 100px; opacity: 0; }
    100% {left: 0; opacity: 1; }
}
@keyframes toLeftText2 {
    0% {left: 0; opacity: 1;}
    100% {left: -100px; opacity: 0; }
}
/* Home Page (Main) Bottom Line이 왼쪽에서 오른쪽으로 나타나는 애니메이션 */
@keyframes fadeInbottomLine {
    0% { opacity:0; left:-100%;}
    100% { opacity:0.9; left:0%;} 
}

/* Study Page Hidden Box의 보이기/숨기기 처리 애니메이션 */
@keyframes visibilityOn {
    0%{opacity: 0; visibility:visible;}
    100%{opacity: 0.6; visibility:visible;}
}
@keyframes visibilityOff {
    0%{opacity: 0.6;visibility:visible; }
    100%{opacity: 0; visibility: hidden;}
}
/* Study Page Hidden Box의 보이기/숨기기 처리 애니메이션 
    -> 내부 텍스트 숨기기 */
@keyframes visibilityOn2 {
    0%{opacity: 0; visibility:visible;}
    100%{opacity: 1; visibility:visible;}
}
@keyframes visibilityOff2 {
    0%{opacity: 1;visibility:visible; }
    100%{opacity: 0; visibility: hidden;}
}
/* About Me Page의 행성의 움직임을 나타낸 애니메이션 */
@keyframes planet1 {
    0% { top:0%; left: 50%;}
    5% { top:10%;left:40%;}
    10% {top:20%; left:30%;}
    15% {top:30% ; left: 20%;}
    20% { top: 40%; left:10%; }
    25% {top:50%; left:0%; width: 50px; height: 50px;}
    50% {top:80%; width: 80px; height: 80px;}
    75% {top:40%; left:80%; width: 50px; height: 50px;}
    100%{top:0%; left:50%;}
}
@keyframes planet2 {
    0% {top:50%; left:0%}
    10% {top:53%; left:20%}
    20% {top:55%;left:35%;}
    30% {left:50%;}
    40% {top:53%;left:65%;}
    50% {top:50%;left:80%;}
    60% {top:47%;left:65%;}
    70% {top:43%;left:50%;}
    80% {left:35%;}
    90% {top:47%;left:20%}
    100% {top:50%;left:0%}
}

/*===========================================================
    Animation @Keyframes End 
===========================================================*/
