/* 전체 분위기 컬러 #302C4D */
:root {
    --background-color : #302C4D
}
html,body{ margin:0; padding:0; width:100%; height:100%;}
body{overflow-x:hidden;} /*가로스크롤바 없애기*/
div, p, h2, h3, h4, h5, h6 {margin: 0; padding : 0;}

a,a:link,a:visited {text-decoration: none; color:white;}

.box {
    margin: 0; padding:0;
    width:100%;
    height:100%;
    position:relative;
    color:white;
    background-color: var(--background-color);
    /*font-size:24pt;*/
}

/* backgroundImg */
#backgroundImg {
    position: absolute;
    opacity: 0;
    top:25%;
    right: 1%;
    width: 40%;
    animation-name: fadeIn;
    animation-duration: 3.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*
div.box:nth-child(1) {
    background-image: url("../img/background.png");
}
div.box:nth-child(2),
div.box:nth-child(3) {
    background-color:var(--background-color);
}
*/

/* 데스크톱에 사용될 스타일 시트를 작성합니다. */    
@media screen and (min-width: 769px) {
    /* nav */
    section#navSection {
        width: 50%;
        right: 0%;
    }

    /* box1 */
    div.box:nth-child(1) section#section1 {
        font-size: 150%;
    }
    #backgroundImg{
        top:20%;
        width: 30%;
    }
    #box1DecorationCircle {
        
        background-color: red;
        
    }
    /* box2*/
    div.box:nth-child(2) section#box2Section1 {
        
        flex-direction: row;
        
    }
    div.box:nth-child(2) section#box2Section1 article {
       
        height: 100%;
        width: 25%;

    }
    /*div#fixedMenu {position: fixed; z-index: 2; display: flex; top:1%; right: 2%;}*/
}
  
