div#box3 > section {
    padding: 0;
    margin: 0;

    display: flex;
    -webkit-display:flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5%;
    width: 100%;
    height: 70%;   
    
    
}
div#box3 > section > div.box3col div {
    text-align: center;
}
div#box3 > section > div.box3col {
    padding: 0;
    margin: 0;

    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;

    /*
    color : white;
    */
    background-color: white;
    transition-property: width display;
    transition-duration: 0.2s;
}
div#box3 > section > div.box3col:nth-child(n+6) { /* n+6*/
    display: none;
}

div#box3 > a.arrowLeft {
    color: linear-gradient( to right, var(--background-color), rgb(86, 30, 160)) ;
    position: absolute;
    top : 45%;
    left : 3%;
    font-size: 32pt;
    opacity: 0.5;
}
div#box3 > a.arrowRight {
    color: linear-gradient( to right, var(--background-color), rgb(86, 30, 160)) ;
    position: absolute;
    top : 45%;
    right : 3%;
    font-size: 32pt;
    opacity: 0.5;
}
div#box3 > a.arrowLeft:hover,
div#box3 > a.arrowRight:hover {
    opacity: 1;
}
/* 슬라이드 이미지 사이즈  */
div#box3 > section > div.box3col div img {
    width: 100px;
    height : 100px;
    
    border-radius: 50%;
    border:2px solid var(--background-color);
}
div#box3 > section div#onProject {
    background-color: linear-gradient( to right, var(--background-color), rgb(86, 30, 160)) ;
}

div#box3 > section div#onProject div.subject {color: yellow; font-weight: bold;}
div#box3 > section div#onProject div.tag {color: white; font-weight: bold;}
div#box3 > section div.box3col div:nth-child(1) {
    margin-top: 5%;
}
div#box3 > section div#onProject img {
    
    border: 5px solid yellow;
}